<% var data={ title: "MAIN" , author: "" }; %>
  <%= _.template(require('../includes/head.html').default)(data) %>
    <%= _.template(require('../includes/header.html').default)(data) %>
      <main>
        <div class="topcontent topcontent_left">
          <div class="container">
            <div class="pagetitle pagetitle_left">
              <div class="pagetitle__title text-left">Wallet Analyzer</div>
            </div>
            <div class="pagecontent">
              <div class="pagecontent__text">
                <p>Leaderboard for top alpha callers on our website</p>
              </div>
            </div>

          </div>
        </div>

        <div class="maincontent">
          <div class="container">
            <div class="tabsnav ">
              <div class="tabsnav__links flex content-between items-center">
                <ul class="flex">
                  <li class="active">
                    <a class="change_leaderboard_tab" data-name="popular_tokens" href="#">Profitability Calculator</a>
                  </li>
                  <li>
                    <a class="change_leaderboard_tab" data-name="popular_presales" href="#">Smart Wallets</a>
                  </li>
                  <li>
                    <a class="change_leaderboard_tab" data-name="top_calls" href="#">Favorite</a>
                  </li>

                </ul>
                <div class="itemsnav itemsnav_table flex items-center content-between mt-0">
                  <div class="itemsnav__right">
                    <div class="pagesearch" data-togglewrapper="suggestions">
                      <div class="pagesearch__form">
                        <form action="">
                          <div class="pagesearch__input">
                            <div class="searchinput">
                              <input type="text" placeholder="Search" oninput="">
                              <a href="#" data-toggleclick="headersearch" class="headersearch__close">
                                <img src="img/closesearch.svg" alt="">
                              </a>
                            </div>
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="emptyblock emptyblock_color emptyblock_lg">
              <div class="emptyblock__wrapper flex column items-center">
                <div class="emptyblock__image">
                  <div class="emptyblock__img"><img src="img/wallet.svg" alt=""></div>
                </div>
                <div class="emptyblock__text">
                  Import your wallet to make analys </div>
                <div class="emptyblock__subtext">
                  Leaderboard for top alpha callers on our website </div>
              </div>
            </div>
          </div>
        </div>
        </div>

      </main>
      <%= _.template(require('../includes/footer.html').default)(data) %>