.emptyblock_color {
  background-image: url(../img/wallet1bg.svg);
  background-size: cover;
  .emptyblock__text {
    color: #fff;
  }
  .emptyblock__subtext {
    color: hsl(0, 0%, 100%);
  }
  .emptyblock__image {
    margin-bottom: get-vw-large(19px);
  }
}
.emptyblock_lg {
  .emptyblock__wrapper {
    padding: get-vw-large(110px) 0;
    min-height: unset;
  }
}
.tabsnav__links_wallets ul li a {
  padding-left: get-vw-large(32px);
  padding-right: get-vw-large(32px);
}

.mt-0 {
  margin-top: 0;
}
.emptyblock__img {
  text-align: center;
}
.emptyblock__subtext {
  margin-top: get-vw-large(10px);
}
.itemsnav__right {
  .pagesearch {
    width: get-vw-large(547px);
  }
  .searchinput {
    a.headersearch__close {
      position: absolute;
      right: get-vw-large(2px);
      top: get-vw-large(2px);
      border-radius: 1.45833vw;
      height: 90%;
      z-index: 1;
      background: #fff;
      margin: 0;
      padding: 0 get-vw-large(20px);
      opacity: 1;
    }
    input {
      font-weight: bold;
    }
  }
}

.walletcard {
  border-radius: get-vw-large(8px);
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #d9d9d9;
  padding: get-vw-large(36px);
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }
}

.walletcard__caption {
  color: #212531;

  margin-bottom: get-vw-large(14px);
  font-size: get-vw-large(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.walletcard__name {
  color: #212531;
  margin-bottom: get-vw-large(14px);
  font-size: get-vw-large(18px);
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  word-wrap: break-word;
}

.btnicon {
  display: block;
  display: flex;
  align-items: center;
  .btnicon__img {
    svg {
      min-width: get-vw-large(26px);
      max-width: get-vw-large(26px);
    }
  }
  span {
    line-height: 1;
  }
}

.btnicon__text {
  padding-left: get-vw-large(4px);
  color: #0085ff;

  font-size: get-vw-large(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.emptyblock_color.active {
  .emptyblock__wrapper {
    padding: get-vw-large(40px);
    min-height: unset;
    margin: get-vw-large(40px) 0;
  }
}

$walletblock__card: get-vw-large(539px);

.walletblock__card {
  margin-right: get-vw-large(35px);
  max-width: $walletblock__card;

  .walletcard {
    height: 100%;
  }
}

.walletblock__table {
  width: calc(100% - #{$walletblock__card});
}
.wallettable {
}
.wallettable__cols {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wallettable__table {
}
.wallettable__colhead {
  color: #fff;

  text-align: center;
  font-size: get-vw-large(16px);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.wallettable__colhead.wallettable__profit {
  font-size: get-vw-large(22px);
}
.wallettable__head {
  margin-bottom: get-vw-large(26px);
}
.wallettable__cols {
}

.wallettable__colbody {
  color: #212531;

  font-size: get-vw-large(16px);
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.wallettable__col {
  text-align: center;
}
.wallettable__col_1 {
}
.wallettable__profit {
  max-width: get-vw-large(230px);
  min-width: get-vw-large(230px);
  text-align: left;
}
.wallettable__col_2 {
}
.wallettable__traded {
  max-width: get-vw-large(120px);
  min-width: get-vw-large(120px);
}
.wallettable__col_3 {
}
.wallettable__profitability {
  max-width: get-vw-large(120px);
  min-width: get-vw-large(120px);
}
.wallettable__col_4 {
}
.wallettable__eth {
  max-width: get-vw-large(120px);
  min-width: get-vw-large(120px);
}
.wallettable__col_5 {
}
.wallettable__usd {
  max-width: get-vw-large(120px);
  min-width: get-vw-large(120px);
  text-align: left;
}
.wallettable__body {
}
.wallettable__row {
  border-radius: get-vw-large(8px);
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #d9d9d9;
  padding: get-vw-large(13px) get-vw-large(20px);
  margin-bottom: get-vw-large(6px);
}

.wallettable__head {
  padding-right: get-vw-large(20px);
}

.tableblock_tab {
  .tableblock__scroll {
    display: table;
    /*  table-layout: fixed; */
    vertical-align: middle;
    width: 100%;
  }
  .tableblock__col {
    width: unset;
    min-width: unset;
    max-width: unset;
  }
  .tableblock__col_default {
    width: unset;
    min-width: unset;
    max-width: unset;
    .tableblock__title {
      font-size: get-vw-large(16px);
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      white-space: nowrap;
    }
  }
  .tableblock__header,
  .tableblock__body {
    display: table-row-group;
    width: 100%;

    .tableblock__row {
      display: table-row;
      width: 100%;
    }
    .tableblock__col {
      vertical-align: middle;
      display: table-cell !important;
      width: unset;
    }
    .tableblock__col_default {
      vertical-align: middle;
      .tableblock__value {
        font-size: get-vw-large(16px) !important;
      }
      padding: 0 get-vw-large(11px);

      &:first-child {
        padding-left: get-vw-large(28px);
      }
      &:last-child {
        padding-right: get-vw-large(28px);
      }
    }
  }

  .tableblock__body {
    font-size: get-vw-large(16px);
    .tableblock__title {
      font-weight: 500;
      font-size: get-vw-large(16px);
    }
  }
}

.tableblock__date {
  color: rgba(33, 37, 49, 0.5);
  white-space: nowrap;
  font-weight: 500;
  font-size: get-vw -large(16px);
}

a.tableblock__link {
  font-size: get-vw-large(16px);
  color: #0085ff;
  font-weight: 500;
}
.tableblock_tab {
  .tableblock__table {
    width: 100%;
    overflow-x: auto;
  }
  .tableblock__wrapper {
    width: 100%;
    overflow: hidden;
  }
}

.tableblock_tab {
  .pagination ul li:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 999px) {
  .itemsnav__right {
    .searchinput {
      a.headersearch__close {
        position: absolute;
        right: get-vw-medium(2px);
        top: get-vw-medium(2px);
        border-radius: 2.75779vw;

        padding: 0 get-vw-medium(15px);
      }
    }
    .searchinput input {
      font-size: 1.21847vw;
    }
  }
  /* .tableblock_tab .tableblock__body .tableblock__title,
  .tableblock_tab .tableblock__col_default .tableblock__title {
    font-size: get-vw-medium(10px);
  } */
}
.mobilecontent {
  display: none;
}
@media only screen and (max-width: 834px) {
  .mobilecontent {
    display: block;
  }
  .desktopcontent {
    display: none;
  }

  .unavaible {
  }
  .unavaible__wrapper {
    min-height: get-vw-medium(806px);
    height: 100vh;
    /*  min-height: calc(100vh - 41.36691vw); */
    padding: 0 0 get-vw-medium(172px) 0;
  }

  .unavaible__content {
  }
  .unavaible__image {
    margin-bottom: get-vw-medium(32px);
    text-align: center;
  }
  .unavaible__main {
    text-align: center;
  }
  .unavaible__title {
    color: #212531;

    font-size: get-vw-medium(26px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: get-vw-medium(14px);
  }
  .unavaible__text {
    color: #212531;

    text-align: center;
    font-size: get-vw-medium(14px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
    margin-bottom: get-vw-medium(32px);
  }
  .unavaible__button {
    .btn_main {
      padding: get-vw-medium(16px) get-vw-medium(58px);
      font-size: get-vw-medium(14px);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .unavaible__image {
    margin-left: auto;
    margin-right: auto;
    width: get-vw-medium(321px);
  }
  .unavaible__title_mob,
  .unavaible__text_mob {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .unavaible__wrapper {
    height: calc(100vh - 103.125vw);
    padding-bottom: get-vw-small(60px);
    padding-left: get-vw-small(18px);
    padding-right: get-vw-small(18px);
  }
  .unavaible__image {
    width: get-vw-small(229px);
    margin-top: get-vw-small(15px);
    margin-bottom: get-vw-small(5px);
  }
  .unavaible__title {
    font-size: get-vw-small(22px);
    margin-bottom: get-vw-small(14px);
  }
  .unavaible__text {
    font-size: get-vw-small(12px);
    margin-bottom: get-vw-small(16px);
  }
  .unavaible__button {
    .btn_main {
      padding: get-vw-small(15px) get-vw-small(58px);
      width: 100%;
      font-size: get-vw-small(12px);
    }
  }
  .unavaible__text_tab,
  .unavaible__title_tab {
    display: none;
  }
  .unavaible__title_mob,
  .unavaible__text_mob {
    display: block;
  }
}
